<header class="header">
    <img loading="lazy" class="transform-turn" src="assets/img/cuts/cut-header.svg" alt="Cut">
    <div class="container vh-60">
    <div class="text-center">
        <h1 class="subscriber-titulo text-uppercase text-md-center text-white" data-aos="zoom-in-down" data-aos-duration="3000">Logros</h1>
    </div>

    <div class="row text-center justify-content-center">

        <div class="d-flex col-12 col-lg-4 col-md-6 justify-content-center mt-5">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="2000">
                <img loading="lazy" src="assets/img/home/achievements/1.jpg" >
            <div class="con-text">
                <h3 class="montserrat-titulo">Alcance</h3>
                <p class="comfortaa-texto">Nuestros eventos han llegado a 7 municipios del departamento del
                    Quindío, hemos visitado todas las comunas de Armenia y tenemos más de 45 eventos realizados.</p>
            </div>
        </div>
        </div>

        <div class="d-flex col-12 col-lg-4 col-md-6 justify-content-center mt-5">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="2000">
                <img loading="lazy" src="assets/img/home/achievements/2.jpg" >
            <div class="con-text">
                <h3 class="montserrat-titulo">Trabajo Social</h3>
                <p class="comfortaa-texto">En nuestros eventos recolectamos cuido en ciertos lugares y lo donamos, así como damos 
                    premios sin ningún interés en comunidades vulnerables de nuestro departamento.</p>
            </div>
        </div>
        </div>

        <div class="d-flex col-12 col-lg-4 col-md-6 justify-content-center mt-5">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="2000">
                <img loading="lazy" src="assets/img/home/achievements/3.jpg" >
            <div class="con-text">
                <h3 class="montserrat-titulo">Liderazgo</h3>
                <p class="comfortaa-texto">Huellitas Solidarias ha permitido el desarrollo de diferentes
                    liderazgos juveniles y ha promovido e inspirado acciones sin fines de lucro en los diferentes
                    municipios del Quindío.</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    <img loading="lazy" src="assets/img/cuts/cut-header.svg" alt="Cut" data-aos="fade-up" data-aos-duration="2000">
</header>