<section class="container" >
    <div class="text-center">
        <h1 class="subscriber-titulo text-uppercase" data-aos="zoom-in" data-aos-duration="3000">Sobre Nosotros</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img loading="lazy" src="assets/img/home/about-us/about-us.jpg" data-aos="fade-up" data-aos-duration="3000" alt="About Us" class="img">
        </div>
        <div class="col-lg-6 mt-5 montserrat-texto" data-aos="fade-down" data-aos-duration="3000">
            <p> Con la finalidad de promover el bienestar y cuidado animal en el departamento del Quindío,
                nuestros eventos recreativos sin fines de lucro se basan en dar a entender los deberes que
                tenemos como dueños de mascotas. Así mismo, conocemos la importancia
                de llevar este mensaje de amor y respeto por nuestros peluditos a los niños de las
                diferentes comunidades de nuestro departamento, por ello, la recreación y concientización a ellos
                no se hace esperar en las actividades planteadas.</p>

            <div class="col-12 text-center">
                <button routerLink="/about-us" class="btn btn-info text-center text-white montserrat-titulo" data-aos="fade-up" data-aos-duration="3000">Saber más</button>
            </div>
        </div>
    </div>
</section>
