<app-navbar></app-navbar>
<app-header></app-header>
<br><br><br><br><br><br><br><br>
<app-about-us></app-about-us>
<br><br><br><br><br><br>
<app-our-events></app-our-events>
<br><br><br><br><br><br><br><br>
<app-carousel 
    [text] = "text"
    [images]="images"
    [autoSlide]="true"
    [slideInterval]="6000"
></app-carousel>
<br><br><br><br><br><br><br><br>
<app-achievements></app-achievements>
<br><br><br><br><br><br><br><br>
<app-social-media></app-social-media>
<br><br><br><br><br><br><br><br>
<app-footer></app-footer>