<header class="header">
    <img class="transform-turn" src="assets/img/cuts/cut-header.svg" alt="Cut">
    <div class="container vh-60">
    <div class="text-center">
        <h1 class="subscriber-titulo text-uppercase text-md-center text-white" data-aos="zoom-in" data-aos-duration="3000">Eventos Generales</h1>
    </div>

    <div class="row text-center justify-content-center">

        <div class="d-flex col-12 col-lg-4 col-md-6 justify-content-center mt-5">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="2000">
                <img src="assets/videos/our-events/1.gif" >
            <div class="con-text">
                <h3 class="montserrat-titulo">Circuito Canino</h3>
                <p class="comfortaa-texto">Este concurso se basa en que el perro y su dueño
                    tendrán que trabajar juntos para pasar una serie de obstáculos hasta llegar a la meta.
                    ¡Solo la pareja más ágil será la ganadora!
                </p>
            </div>
        </div>
        </div>

        <div class="d-flex col-12 col-lg-4 col-md-6 justify-content-center mt-5">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="2000">
                <img src="assets/videos/our-events/2.gif">
            <div class="con-text">
                <h3 class="montserrat-titulo">Pasarela Canina</h3>
                <p class="comfortaa-texto">En este concurso la mascota y su dueño se convertirán en un
                    par de modelos; aquí se califica el talento, la ternura y la comunicación entre el amo
                    y su peludito.
                </p>
            </div>
        </div>
        </div>

        <div class="d-flex col-12 col-lg-4 col-md-6 justify-content-center mt-5">
            <div class="card" data-aos="zoom-in-up" data-aos-duration="2000">
                <img src="assets/videos/our-events/3.gif">
            <div class="con-text">
                <h3 class="montserrat-titulo">Recreación</h3>
                <p class="comfortaa-texto">Esta sección precede a la premiación de nuestros ganadores.
                    ¡Pintucaritas, bailes, juegos interactivos infantiles y mucha diversión para todos nuestros
                    niños y jóvenes!</p>
            </div>
        </div>
        </div>
    </div>
    </div>
    <img src="assets/img/cuts/cut-header.svg" alt="Cut" data-aos="fade-up" data-aos-duration="2000">
</header>
