<section class="container" >
    <div class="text-center">
        <h1 class="subscriber-titulo text-uppercase" data-aos="zoom-in" data-aos-duration="3000">Nuestros Inicios</h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/img/home/about-us/about-us.jpg" data-aos="fade-up" data-aos-duration="3000" alt="About Us" class="img">
        </div>
        <div class="col-lg-6 mt-5 d-flex montserrat-texto" data-aos="fade-down" data-aos-duration="3000">
            <p>Huellitas Solidarias nació el 2018 en el municipio de Armenia, Q. con la iniciativa juvenil
            de compartir una tarde en familia a través de la recreación junto a nuestros peluditos; esto con la
            finalidad de recibir alimento para mascotas y donarlo a una fundación. No obstante, ese día dicha
            fundación no llegó al encuentro, esto nos permitió tener la idea de realizar un segundo evento
            pero esta vez en un barrio vulnerable del municipio para hacer las mismas actividades donando
            al final el cuido recibido a nuestros participantes.</p>
        </div>

        <div class="text-center mt-5">
            <br><br><br><br><br>
            <h1 class="subscriber-titulo text-uppercase" data-aos="zoom-in" data-aos-duration="3000">Objetivos</h1>
        </div>

        <div class="col-lg-6 mt-5 montserrat-texto" data-aos="fade-down" data-aos-duration="3000">
            <p>Desde aquel momento, hemos procurado llegar a la mayoría de municipios de nuestro departamento,
               promoviendo una tarde en familia con nuestros amigos más fieles, entendiendo que son seres sientientes
               y como nosotros, merecen respeto. Del mismo modo, hemos buscado diferentes estrategias para que 
               nuestros participantes se lleven un incentivo material a través de premios, bonos y servicios veterinarios
               que muchas personas han patrocinado; esto con el objetivo de que el mensaje de bienestary cuidado animal
               llegue por medio de nuestros eventos.
            </p>
        </div>

        <div class="col-lg-6 mt-5">
            <img src="assets/img/home/about-us/about-us-2.jpg" data-aos="fade-up" data-aos-duration="3000" alt="About Us" class="img">
        </div>

        <div class="text-center mt-5">
            <br><br><br><br><br>
            <h1 class="subscriber-titulo text-uppercase" data-aos="zoom-in" data-aos-duration="3000">Actualmente</h1>
        </div>

        <div class="col-lg-6 mt-5">
            <img src="assets/img/home/about-us/about-us-3.png" data-aos="fade-up" data-aos-duration="3000" alt="About Us" class="img">
        </div>

        <div class="col-lg-6 mt-5 montserrat-texto" data-aos="fade-down" data-aos-duration="3000">
            <p>En la actualidad continuamos sumando a los más de 40 eventos realizados en el departamento del Quindío.
               Como voluntarios nos sentimos realmente llenos a la hora de participar de estas actividades, es impresionante
               como diferentes entidades veterinarias, asociaciones y personas se han unido a esta hermosa causa
               promoviendo la labor social y un mensaje de respeto y cuidado hacia nuestras mascotas.
            </p>
        </div>

    </div>
</section>
