<section class="footer">
    <div class="social">
        <a target="_blank" href="https://www.facebook.com/huellitassolidariasq"><i class="fa-brands fa-facebook"></i></a>
        <a target="_blank" href="https://www.instagram.com/huellitassolidariasq/"><i class="fa-brands fa-instagram"></i></a> 
        <a target="_blank" href="https://www.tiktok.com/@huellitassolidariasq"><i class="fa-brands fa-tiktok"></i></a> 
        <a target="_blank" href="https://www.youtube.com/channel/UCQDZV1Trl5g8X5xGcsm2ktA"><i class="fa-brands fa-youtube"></i></a> 
    </div>

    <ul class="list montserrat-subtitulo">
        <li>
            <a routerLink="/">Inicio</a>
        </li>
        <li>
            <a routerLink="/about-us">Nosotros</a>
        </li>
        <li>
            <a routerLink="/blog/init">Blog</a>
        </li>
    </ul>
</section>
<div class="text-center p-2 text-black second_footer montserrat-subtitulo" style="background-color: #B5F02F;">
    Huellitas Solidarias © 2022
</div>