<header class="mt-5 header">
        <div class="container vh-50">
            <div class="row h-100">
                <div class="col-md-8 col-lg-6 h-100 align-items-center mt-lg-5">
                    <h1 class="mt-5 subscriber-subtitulo text-white text-uppercase text-center" data-aos="fade-down" data-aos-duration="2000">Programa en pro del bienestar animal</h1>
                    <p class="montserrat-texto d-md-block d-none text-white" data-aos="fade-up" data-aos-duration="3000">Somos un grupo de jóvenes que nace en el departamento del Quindío
                                                con la necesidad de promover el bienestar y cuidado animal.
                    
                </div>
                <div class="col-md-4 col-lg-6 d-none d-md-block text-center mt-md-5 mt-lg-0"  data-aos="zoom-in" data-aos-duration="2000">
                    <img loading="lazy" class="logo" src="assets/img/logos/huellitas-solidarias-circulo.png" alt="Logo HS">
                </div>
            </div>
        </div>
    <img src="assets/img/cuts/cut-header.svg" data-aos="fade-up" data-aos-duration="3000" alt="Cut">
</header>
