<section class="container" data-aos="fade-up" data-aos-duration="3000">
    <button routerLink="/" class="btn titulo btn-light mt-5">Volver</button>
    <div class="container mb-5">
        <div class="row">
        <div class="col-12 col-md-6 mt-5">
            <h1 class="titulo text-center text-lg-left mt-lg-5 mt-md-0">¡Espéranos! Estamos trabajando en ello...</h1>
        </div>
                <div class="col-12 col-md-6">
                    <img src="assets/img/settings/trabajando-en-ello.png" alt="programming" class="img">
                </div>

            </div>
</div>
</section>