<section class="container justify-content-center">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <img src="../../../../../assets/img/settings/page-not-found.svg" data-aos="zoom-in" data-aos-duration="3000" alt="vector">
        </div>
        
        <div class="col-lg-6 col-md-6 text-center text-down" data-aos="zoom-out" data-aos-duration="1000">
            <h1 class="montserrat-titulo">¿Te perdiste?</h1>
            <button routerLink="/" class="btn btn-info text-white comfortaa-titulo">Vuelve al inicio</button>
        </div>
</div>
</section>